<div id="footer-wrapper">
    <div class="row">
        <div class="imx">

            <div class="clear footer-top">
                <div class="fl w50">
                    <img src="../../assets/img/icon/logo_svg_white.svg" alt="PT. Networks Indonesia Aku" class="logo-footer">
                    <div class="location clear">
                        <img src="../../assets/img/icon/map.svg" alt="Location" class="fl icon-map">
                        <div class="fl address">
                            <span class="title">Address</span>
                            <span class="caption">AIA Central <span class="font-notoserif" style="display: inline;">빌딩 21층</span><br /><br /> Jl. Jenderal Sudirman No.Kav. 48A, Karet Semanggi,<br /> Kecamatan Setiabudi, South Jakarta<br /> Indonesia - 12930</span>
                        </div>
                    </div>
                </div>

                <div class="fr w50 content-right">
                    <div class="network clear">
                        <!--<div class="clear fr indonesia-branch">
                            <img src="../../assets/img/icon/indonesia_flag.svg" alt="Korea">
                            <div class="fr address">
                                <span class="title">Indonesia</span>
                                <span class="caption"><a href="http://ibus.co.id" target="_blank">wwww.ibus.co.id</a></span>
                            </div>
                        </div>-->
                        <div class="clear fr korea-branch">
                            <!--<img src="../../assets/img/icon/korea_flag.svg" alt="Korea">-->
                            <div class="fr address">
                                <span class="title">Headquarters</span>
                                <span class="caption"><a href="http://sclnetworks.co.kr/" target="_blank">wwww.sclnetworks.co.kr</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="social-media">
                            <h4>Connect with us</h4>
                            <a href="https://instagram.com/networksindonesiaaku?igshid=MTk0NTkyODZkYg==" target="_blank"><img src='../../assets/img/icon/social_instagram.svg' /></a>
                            <a href="https://www.tiktok.com/@networksindonesiaaku" target="_blank"><img src='../../assets/img/icon/social_tiktok.svg' /></a>
                            <a href="https://www.facebook.com/profile.php?id=100086498050992" target="_blank"><img src='../../assets/img/icon/social_facebook.svg' /></a>
                            <a href="https://www.youtube.com/@networksindonesiaaku4258?themeRefresh=1" target="_blank"><img src='../../assets/img/icon/social_youtube.svg' /></a>
                    </div>
                    <p>Copyright. 2023 PT. Networks Indonesia Aku All Rights reserved</p>
                </div>
            </div>

            <div class="clear">
                <ul class="sitemap btn-box fl">
                    <li><a>Terms and Conditions</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Cookies</a></li>
                </ul>
                <div class="copyright fr">
                    <em>Copyright © 2023 PT. Networks Indonesia Aku. All Rights Reserved</em>
                </div>
            </div>

        </div>
    </div>
</div>