<body>
    <div id="header-wrapper">
        <div class="pc-bg"></div>
        <div class="row">
            <div class="menu-wrapper">
                <a class="logo" href="index.html">
                    <img class="effect-off" src="../../assets/img/icon/header_logo_color.svg" />
                    <img class="effect-on" src="../../assets/img/icon/header_logo_grey.svg" />
                </a>

                <ul class="menu-box">
                    <li class="first-menu hidden-box">
                        <a class="font-roboto">ABOUT NIA</a>
                        <div class="pc-hidden korean-lang">
                            <a style="color:#323232;" href="introduction.html" ><em>회사 소개</em></a>
                            <a style="color:#323232;" href="ceo.html"><em>인사말</em></a>
                            <a style="color:#323232;" href="people.html"><em>NIA 人</em></a>
                            <a style="color:#323232;" href="office.html"><em>사무실</em></a>
                        </div>
                        <ul class="hidden-menu active korean-lang">
                            <li><a style="color:#323232;" href="introduction.html">회사 소개</a></li>
                            <li><a style="color:#323232;" href="ceo.html">인사말</a></li>
                            <li><a style="color:#323232;" href="people.html">NIA 人</a></li>
                            <li><a style="color:#323232;" href="office.html">사무실</a></li>
                        </ul>
                    </li>

                    <li class="first-menu hidden-box business">
                        <a>BUSINESS</a>
                        <div class="pc-hidden korean-lang">
                            <a style="color:#323232;" href="business.html?1"><em>모빌리티 테크놀로지</em></a>
                            <a style="color:#323232;" href="ticketing_system_and_reservation.html"><em>예약 ·예매 시스템</em></a>
                            <a style="color:#323232;" href="business.html?3"><em>결제 시스템</em></a>
                            <a style="color:#323232;" href="business.html?4"><em>IT 서비스 운영 및 관리</em></a>
                            <a style="color:#323232;" href="business.html?5"><em>물류 및 배송 시스템</em></a>
                            <a style="color:#323232;" href="business.html?6"><em>라이브 스트리밍 플랫폼</em></a>
                        </div>
                        <ul class="hidden-menu active korean-lang" style="width: 226px;">
                            <li><a style="color:#323232;" href="business.html?1">모빌리티 테크놀로지</a></li>
                            <li><a style="color:#323232;" href="ticketing_system_and_reservation.html">예약 ·예매 시스템</a></li>
                            <li><a style="color:#323232;" href="business.html?3">결제 시스템</a></li>
                            <li><a style="color:#323232;" href="business.html?4">IT 서비스 운영 및 관리</a></li>
                            <li><a style="color:#323232;" href="business.html?5">물류 및 배송 시스템</a></li>
                            <li><a style="color:#323232;" href="business.html?6">라이브 스트리밍 플랫폼</a></li>
                        </ul>
                    </li>

                    <li class="first-menu hidden-box">
                        <a>COMMUNITY</a>
                        <div class="pc-hidden korean-lang">
                            <a style="color:#323232;" href="notice.html"><em>공지사항</em></a>
                            <a style="color:#323232;" href="media.html"><em>매체 보도</em></a>
                            <a style="color:#323232;" href="video.html"><em>영상</em></a>
                        </div>
                        <ul class="hidden-menu active korean-lang">
                            <li><a style="color:#323232;" href="notice.html">공지사항</a></li>
                            <li><a style="color:#323232;" href="media.html">매체 보도</a></li>
                            <li><a style="color:#323232;" href="video.html">영상</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="content-right">
                    <div class="right-box language">
                        <div class="lang-box hidden-box">
                            <a class="lang-btn">
                                <img src="../../assets/img/icon/south-korea.png" class="language_flag"/>
                                <span>KR</span>
                                <img src="../../assets/img/icon/header_caret_down.svg" class="language_caret"/>
                            </a>
                            <ul class="lang-menu hidden-menu">
                                <li><a href="http://175.106.98.247:8006/weblama_rev/in/index.html">Indonesia</a></li>
                                <li><a href="http://175.106.98.247:8006/weblama_rev/en/index.html">English</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="../../kr/contact.html" class="btn_contact_us">Contact Us</a>
                    <a class="mobile-ham hambuger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="mobile-menu">
            <div class="inner">
                <ul>
                    <li>
                        <a class="first-menu">ABOUT</a>
                        <div class="second-menu">
                            <a href="introduction.html">회사 소개</a>
                            <span></span>
                            <a href="ceo.html">인사말</a>
                            <br />
                            <a href="people.html">NIA 人</a>
                            <span></span>
                            <a href="office.html">사무실</a>
                        </div>
                    </li>

                    <li>
                        <a class="first-menu">BUSINESS</a>
                        <div class="second-menu">
                            <a href="business.html?1">모빌리티 테크놀로지</a>
                            <br />
                            <a href="ticketing_system_and_reservation.html">예약 ·예매 시스템</a>
                            <br />
                            <a href="business.html?3">결제 시스템</a>
                            <br />
                            <a href="business.html?4">IT 서비스 운영 및 관리</a>
                            <br />
                            <a href="business.html?5">물류 및 배송 시스템</a>
                            <br />
                            <a href="business.html?6">라이브 스트리밍 플랫폼</a>
                        </div>
                    </li>

                    <li>
                        <a class="first-menu">COMMUNITY</a>
                        <div class="second-menu">
                            <a href="notice.html">공지사항</a>
                            <span></span>
                            <a href="media.html">매체 보도</a>
                            <span></span>
                            <a href="video.html">영상</a>
                        </div>
                    </li>

                    <li>
                        <a href="contact.html" class="first-menu">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    $('.hidden-box').mouseover(function(){
        if($('.hambuger-menu').hasClass('active')){
            return false
        } else{
            $(this).children('.hidden-menu').stop().slideDown(200);
        }        
    });
    $('.hidden-box').mouseleave(function(){
        if($('.hambuger-menu').hasClass('active')){
            return false
        } else{
            $(this).children('.hidden-menu').stop().slideUp(200);
        }                
    });

    /* header-wrapper scroll event */
    $(window).scroll(function(){
        if($(document).scrollTop() > 40){
            $("#header-wrapper").addClass("color-effect");
        } else{
            $("#header-wrapper").removeClass("color-effect");
        }
    });

    /* hambuger menu event */
    $('.pc-ham').on('click' , function(){        
        if(!$(this).hasClass('active')){
            $(this).addClass('active');
            $('.pc-hidden').stop().slideDown();
            $('.pc-bg').stop().slideDown();
        } else{
            $(this).removeClass('active');
            $('.pc-hidden').stop().slideUp();
            $('.pc-bg').stop().slideUp();
        }
    });

    $('.mobile-ham').on('click' , function(){        
        if(!$(this).hasClass('active')){
            $(this).addClass('active');
            $('.mobile-menu').stop().fadeIn();
            $('.mobile-menu .inner').stop().slideDown();
        } else{
            $(this).removeClass('active');
            $('.mobile-menu').stop().fadeOut();
            $('.mobile-menu .inner').stop().slideUp();
            $('.mobile-menu .second-menu').stop().slideUp();
            
        }
    });

    $('.mobile-menu .first-menu').on('click' , function(){
        if(!$(this).hasClass('active')){
            $('.mobile-menu .first-menu').removeClass('active');
            $(this).addClass('active');
            $('.mobile-menu .second-menu').stop().slideUp();
            $(this).next().stop().slideDown();
        } else{
            $(this).removeClass('active');
            $(this).next().stop().slideUp();
        }
    });
</script>