body {
    color: #40455c;
}

/* NEWS STYLE */
.news-wrapper {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f0f0f0;
    text-align: center;
}

.bg-img {
    background-image: url(../../assets/images/bg-news.png);
    height: 100vh;
}

.list-wrapper {
    word-break: keep-all;
    padding: 100px 36px 100px;
}

.list-wrapper .item-box {
    margin-bottom: 20px;
}

.list-wrapper .item-box .item {
    margin-bottom: 70px;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.list-wrapper .item-box .item:hover {
    transform: scale(0.98);
    opacity: 0.8;
}

.list-wrapper .item-box .item .img-box {
    padding-bottom: 75%;
    margin-bottom: 14px;
    overflow: hidden;
}

.list-wrapper .item-box .item .img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

.list-wrapper .item-box .item h3 {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.3;
}

.list-wrapper .item-box .item span {
    display: block;
    line-height: 2em;
    font-size: 16px;
    color: rgb(143, 146, 161);
    text-align: start;
}

.list-wrapper .item-box .item .publisher {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 2em;
    color: rgb(143, 146, 161);
    text-align: start;
}

/* media.html css end */

.bg-wrapper .text-box {
    place-content: flex-end space-between;
    align-items: flex-end;
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(28, 28, 28, 0.7) 100%
    );
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    height: 100vh;
    overflow: visible;
    padding: 50px 50px 100px;
    position: relative;
    width: 100%;
    text-align: left;
}

.bg-wrapper .text-box h1 {
    width: 30%;
    line-height: 100%;
    font-size: 76px;
    font-weight: 500;
}

.bg-wrapper .text-box p {
    width: 40%;
}

/* NOTICE STYLE */
.notice-wrapper {
    place-content: flex-start center;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    gap: 10px;
    overflow: hidden;
    padding: 150px 50px 50px;
    position: relative;
    width: 100%;
}
.notice-wrapper .notice-title {
    padding-bottom: 30px;
    justify-content: flex-start;
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    color: #40455c;
}

.notice-wrapper .notice-list {
    display: flex;
    padding: 24px 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #a9b6c4;
}

.notice-wrapper .notice-list .notice-content {
    display: flex;
    gap: 30px;
    font-weight: 500;
    width: 80%;
}

.notice-wrapper .notice-list .notice-date {
    display: flex;
    gap: 30px;
    color: #8f92a1;
    font-weight: 300;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 50px 0;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: #454a65;
    color: #fff;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination .arrow {
    padding: 8px;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
}

.pagination .arrow:hover {
    background-color: #ccc;
}

.notice-wrapper .notice-details-title {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notice-wrapper .notice-details-title span {
    font-size: 18px;
    font-weight: 300;
    color: #999999;
}

.notice-wrapper .notice-details-title img {
    border-radius: 20px;
    height: 68vh;
    width: 100vw;
    object-fit: cover;
}

.notice-wrapper .notice-details-content p {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
}

.btn-nav-wrapper {
    place-content: center space-between;
    margin: 0 30px 0 30px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.btn-nav-wrapper .prev-notice-btn {
    border: 1px solid #d1d1d1;;
    align-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0 .6021873017743928px .6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000010;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: min-content;
    justify-content: flex-start;
    padding: 30px;
    position: relative;
    width: fit-content;
    text-decoration: none;
}

.btn-nav-wrapper .next-notice-btn {
    border: 1px solid #d1d1d1;;
    align-content: flex-end;
    align-items: flex-end;
    border-radius: 20px;
    box-shadow: 0 .6021873017743928px .6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000010;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    height: min-content;
    justify-content: flex-start;
    padding: 30px;
    position: relative;
    text-decoration: none;
}

.btn-nav-wrapper .prev-notice-btn-mobile {
    display: none;
}
.btn-nav-wrapper .next-notice-btn-mobile {
    display: none;
}

.appear {
    opacity: 0;
    transform: scale(0.9); /* Ubah nilai scale agar lebih halus */
}

.appear.active {
    opacity: 1;
    transform: scale(1);
}

.appear:nth-child(1) {
    transition: opacity 0.5s ease, transform 0.8s ease;
}

.appear:nth-child(2) {
    transition: opacity 0.6s ease, transform 0.8s ease;
}

.appear:nth-child(3) {
    transition: opacity 0.6s ease, transform 0.8s ease;
}

@media screen and (max-width: 1140px) {
    .bg-wrapper .text-box p {
        width: 100%;
    }

    .bg-wrapper .text-box h1 {
        width: 100%;
        font-size: 42px;
        font-weight: 500;
    }

    .bg-wrapper .text-box {
        align-items: flex-start;
        padding: 50px 20px;
        flex-direction: column;
        justify-content: flex-end;
    }

    .list-wrapper {
        background: #fff;
        padding: 60px 0px 100px;
    }

    .list-wrapper .item-box {
        padding: 0px 8px;
    }

    .list-wrapper .item-box .imx {
        margin: 0px 8px;
    }

    .list-wrapper .item-box .item {
        margin-bottom: 50px;
    }

    .list-wrapper .item-box .item .img-box {
        margin-bottom: 14px;
        box-shadow: 0 1.5vw 2.5vw rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    .list-wrapper .item-box .item h3 {
        font-size: 1.3em;
        margin-bottom: 14px;
        height: 50px;
    }

    .list-wrapper .item-box .item span {
        font-size: 1.15em;
    }

    .btn-nav-wrapper .prev-notice-btn {
        display: none;
    }
    .btn-nav-wrapper .next-notice-btn {
        display: none;
    }

    .btn-nav-wrapper .prev-notice-btn-mobile {
        border: 1px solid #d1d1d1;;
        align-content: flex-start;
        align-items: flex-start;
        border-radius: 20px;
        box-shadow: 0 .6021873017743928px .6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000010;
        display: flex;
        flex: 1 0 0px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        height: min-content;
        justify-content: flex-start;
        padding: 30px;
        position: relative;
        width: fit-content;
        text-decoration: none;
    }
    .btn-nav-wrapper .next-notice-btn-mobile {
        border: 1px solid #d1d1d1;;
        align-content: flex-start;
        align-items: flex-start;
        border-radius: 20px;
        box-shadow: 0 .6021873017743928px .6021873017743928px -1.25px #0000002e, 0 2.288533303243457px 2.288533303243457px -2.5px #00000029, 0 10px 10px -3.75px #00000010;
        display: flex;
        flex: 1 0 0px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        height: min-content;
        justify-content: flex-start;
        padding: 30px;
        position: relative;
        width: fit-content;
        text-decoration: none;
    }
}

@media screen and (max-width: 780px) {
    .list-wrapper {
        padding: 40px 0px 60px;
    }

    .list-wrapper .item-box .fl {
        width: 100%;
    }

    .list-wrapper .item-box .item {
        margin-bottom: 40px;
    }

    .list-wrapper .item-box .item .img-box {
        margin-bottom: 10px;
    }

    .list-wrapper .item-box .item h3 {
        font-size: 1.15em;
        margin-bottom: 10px;
        height: 45px;
    }

    .list-wrapper .item-box .item span {
        font-size: 1em;
    }

    .notice-wrapper {
        padding: 150px 20px 50px;
    }

    .notice-wrapper .notice-list .notice-date {
        width: 100%;
        justify-content: space-between;
    }
    .notice-wrapper .notice-list {
        flex-direction: column;
        gap: 20px;
    }
    .notice-wrapper .notice-list .notice-content {
        width: 100%;
    }
    .notice-wrapper .notice-list .notice-content span {
        display: none;
    }

    .notice-wrapper .notice-title {
        padding-bottom: unset;
        font-size: 36px;
    }

    .notice-wrapper .notice-details-title img {
        height: 30vh;
    }
}
